extend ../lib/layout

block config
  - $.title = "others"
  - $.path  = "/others/"
  - $.jslist  = ["index.js"]
  - $.csslist = ["index.css"]

block content
  h1 #{$.title}
  #unit
    h2 app
    ul
      li: div
        a(href="/enzui/") enzui - Visual Programming Laungage
      li: div
        a(href="/khoomii/") formant khoomii
      li: div
        a(href="/tarai/") tarai-music
      li: div
        a(href="/one-liner-music/") one-liner-music
      li: div
        a(href="/movie2thumb/") movie to thumbnails
      li: div
        a(href="/d/") doddo-doridori-dodododo-doriland
  
    h2 canvas
    ul
      li: div
        a(href="/canvas/gray/") gray
      li: div
        a(href="/canvas/binalize/") binalize
      li: div
        a(href="/canvas/mirror/") mirror
      li: div
        a(href="/canvas/face/") face-detect

    h2 twitter-bot
    ul
      li: div
        a(href="https://twitter.com/arenasore") @arenasore

      li: div
        a(href="https://twitter.com/amasakas") @amasakas

      li: div
        a(href="https://twitter.com/KenEtsuNews") @KenEtsuNews

      li: div
        a(href="https://twitter.com/metsubow") @metsubow
                
      li: div
        a(href="https://twitter.com/AnsaiBot") @AnsaiBot

      li: div
        a(href="https://twitter.com/ji_sei") @ji_sei
    
      li: div
        a(href="https://twitter.com/nanodeal") @nanodeal
