extend ../lib/layout

block config
  - $.title = "image to braille"
  - $.path  = "/braille/"
  - $.media = "desktop"
  - $.add("/lib/LigatureSymbols-2.11.css")

block content
  h1 #{$.title}
  #unit
    div(id="msg")
    div(id="editor-container")
      canvas(id="editor")
      textarea(id="result")
    div(id="controller")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
