extend ../lib/layout

block config
  - $.title = "the concept book"
  - $.path  = "/concept/"
  - $.jslist  = ["/lib/ace.js","/lib/underscore.js","/lib/coffee-script.js","/lib/subcollider.js","/lib/timbre.js", "index.js"]
  - $.csslist = ["index.css"]

block content
  #editor
