@import "../lib/layout"

body
  overflow: hidden

#sidebar
  display: none
  
#editor
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  font-size: 14px

.ace_comment
  color: #d66a35 !important
  font-family: serif !important
  font-weight: bold
  span
    font-weight: bold
