@import "../../layout"

#canvas
  width  480px
  height 480px
  background white

input[type="range"]
  width 480px

@media screen and (max-width: 650px)
  #canvas
    width  280px
    height 280px

  input[type="range"]
    width 280px
