extend ../../layout

block config
  - $.title = "fractal/circle"
  - $.path  = "/fractal/circle/"
  - $.use("//cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js")
  - $.use("../color-0.7.1.min.js")

block content
  h1.title #{$.title}

  #app
    canvas#canvas(v-attr="width: width, height: height")
    .form-group(v-repeat="params")
      input(type="range", v-model="value", min="1", max="100", v-on="change:update")
    button.btn.btn-default#tweet(v-on="click:tweet") Tweet
