extend ../../layout

block config
  - $.title = "canvas/mirror"
  - $.path  = "/canvas/mirror/"
  - $.ads   = true

block content
  h1 #{$.title}
  #app
    canvas(id="canvas",width=512,height=512)
    video(id="cam",width=512,height=512,autoplay).hidden
    img(id="src",src="../sample01.jpg").hidden
