extend ../lib/layout

block config
  - $.title = "glitched movie player"
  - $.path  = "/glitchedmovie/"
  - $.media = "desktop"
  - $.add("/lib/LigatureSymbols-2.11.css")

block content
  h1 #{$.title}
  #unit
    div(style="border:solid 1px gray")
      div(id="tips")
        div drag a movie files(*.mp4) to play
        small System Requirements: Google Chrome
      canvas(id="preview")
    input(type="range",max="10000",value="0",id="currentTime")
    div(style="font-size:smaller;font-weight:bold")
      button(id="play",class="lsf-icon",title="play") Play
      button(id="pause",class="lsf-icon",title="pause") Pause
