extend ../layout

block config
  - $.title = "glitched movie player"
  - $.path  = "/glitchedmovie/"

block content
  h1.title #{$.title}

  #app
    #preview
      #tips drag & drop a movie files(*.mp4) to play
      canvas#canvas
    .form-group
      button.btn.btn-default#play Play
      button.btn.btn-default#pause Pause
