extend ../lib/layout

block config
  - $.title = "glitched movie player"
  - $.path  = "/glitchedmovie/"
  - $.jslist  = ["index.js"]
  - $.csslist = ["index.css"]
  - $.media = "desktop"
  - $.desc = "play while glitching the video"
  - $.ligature = true

block content
  h1 #{$.title}
  #container
    div(style="border:solid 1px gray;height:100%")
      div(id="tips")
        div drag a movie files(*.mp4) to play
        small System Requirements: Google Chrome
      canvas(id="preview")
    input(type="range",max="10000",value="0",id="currentTime")
    div(style="font-size:smaller;font-weight:bold")
      button(id="play",class="lsf-icon",title="play") Play
      button(id="pause",class="lsf-icon",title="pause") Pause
      span.pull-right
        input(type="checkbox",name="processing",id="processing",checked)
        label(for="processing") Processing
        input(type="checkbox", name="loop", id="loop")
        label(for="loop") Loop
        button(id="full-screen",class="lsf-icon",title="full") Full Screen
