@import "../layout"

#app
  #preview
    border solid 1px #efefef
    width  640px
    height 480px

  #tips
    padding 15px

  #canvas
    width  640px
    height 480px

  button
    margin-top 10px
