@import "../../layout"

#canvas
  width  1024px
  height 512px

#zoom
  width   28px
  height 512px
  -webkit-appearance slider-vertical
  appearance slider-vertical
  display inline

#range
  width 1024px
  height 28px
