extend ../layout

block config
  - $.title = "zanzo"
  - $.path  = "/zanzo/"
  - $.ads   = true

block content
  h1 #{$.title}
  #unit
    ul
      li drag & drop an Animated GIF
      li generate an image lag (残像) that overlaid animation frames
    #result
