extend ../lib/layout

block config
  - $.title = "coffee-script viewer"
  - $.path  = "/coffee/"
  - $.add("//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js")

block content
  h1 #{$.title}
  #unit
    table
      tr
        td: textarea.monospace(id="src", placeholder="1. CoffeeScript")
        td: textarea.monospace(id="tokens", placeholder="2. tokens")
      tr
        td: textarea.monospace(id="dst", placeholder="4. JavaScript")
        td: textarea.monospace(id="nodes", placeholder="3. AST (not implemented)")
    button.btn(id="link") Link
