@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("http://fonts.googleapis.com/css?family=Inconsolata");
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;outline:none}
html{height:100%}
body{margin:0;height:100%;font:14px/1.231 "Lato",sans-serif;font-weight:300;color:#34495e}
a{color:#2980b9;text-decoration:none;}
a:hover{text-decoration:underline}
.pull-left{float:left}
.pull-right{float:right}
.hidden{display:none}
.jp{font-family:"Lato",sans-serif;font-size:90%}
.monospace{font-family:"Inconsolata",monospace}
.ads{margin:10px 20px;background:#ecf0f1}
.btn{border:none;background:#34495e;color:#fff;font-size:16.5px;text-decoration:none;text-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition:.25s;-moz-transition:.25s;-o-transition:.25s;transition:.25s;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;cursor:pointer;-webkit-backface-visibility:hidden;background-color:#1abc9c;}
.btn:hover,.btn:focus{background-color:#2fe2bf}
.btn:active{background-color:#16a085}
.btn-active{background-color:#e74c3c;}
.btn-active:hover,.btn-active:focus{background-color:#ec7063}
.btn-active:active{background-color:#dc2d1b}
#content{position:fixed;top:0;left:0;bottom:0;height:100%;margin-left:200px;overflow-y:auto;}
#content h1{font-size:61px;font-weight:900;margin:20px}
#content h2{font-size:26px;font-weight:700}
#content #unit{margin:0 20px}
#content textarea,#content input{border:2px solid #dce4ec;color:#34495e;background:#ecf0f1;font-family:"Inconsolata",monospace;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;text-indent:1px;-webkit-appearance:none}
#sidebar{position:fixed;top:0;left:0;bottom:0;width:200px;overflow-y:auto;overflow-x:hidden;padding:10px;background:#bdc3c7;}
#sidebar *{padding:0;margin:0}
#sidebar a{color:#34495e}
#sidebar h1{margin:10px 0;font-size:14px;font-weight:400}
#sidebar h2{margin-top:10px;font-size:12px;font-weight:400}
#sidebar img{width:180px;height:180px}
#sidebar ul{list-style:none;margin-left:20px;}
#sidebar ul li{padding:5px}
@media screen and (max-width: 650px){#sidebar{position:static;background:#fff;display:none;}
#sidebar #appimage{text-align:center}
#sidebar h1{font-size:32px;margin-left:8px}
#sidebar h2{font-size:22px;margin-left:8px}
#sidebar li{font-size:18px}
#content{margin-left:0;}
#content h1{font-size:32px}
.ads{margin:10px 0 0}
.hidden-phone{display:none}
}#content{width:800px;}
#content table{width:100%;height:600px}
#content td{text-align:center}
#content textarea{width:100%;height:100%;font-weight:bold}
#content button{width:80px;height:30px}
