extend ../layout

block config
  - $.title = "coffee-script viewer"
  - $.path  = "/coffee/"
  - $.add("//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js")

block content
  h1.title #{$.title}

  #app
    .row
      .col-md-6
        textarea.form-control(id="src", rows=12, placeholder="1. CoffeeScript")
      .col-md-6
        textarea.form-control(id="tokens", rows=12, placeholder="2. tokens")
    hr
    .row
      .col-md-6
        textarea.form-control(id="dst", rows=12, placeholder="4. JavaScript")
      .col-md-6
        textarea.form-control(id="nodes", rows=12, placeholder="3. AST (not implemented)")
    hr
    button.btn.btn-default(id="link") Link
