@import "../lib/layout"

#content
  #container
    ul { list-style: square }
    li { font-size: 16px }
  #f1
    margin: 15px
    font-size: 1.25em
  #f2
    padding: 0 15px
  #func
    width: 100%
    font-family: 'Courier New',monospace; font-size:1em
  #history
    list-style: none
    font-weight: bold
