extend ../layout

block config
  - $.title = "one-liner-music"
  - $.path  = "/one-liner-music/"
  - $.use("pico.js")
  - $.use("MutekiTimer.js")

block content
  h1.title #{$.title}

  #app
    div(style="margin-bottom:25px")
      button.btn.btn-default#play Play
      button.btn.btn-default#tweet Tweet this function
    div#f1
      span function (t) {
      div#f2
        input.form-control#func(type="text",placeholder="return")
      span }
    ul#history-container
      li#history History
