@import "../layout"

#app
  ul
    list-style square
  li
    font-size 16px

#f1
  margin 15px
  font-size 1.25em

#f2
  padding 0 15px

#func
  line-height 1.25em
  font-family 'Courier New',monospace; font-size:1em

#history
  list-style none
  font-weight bold
