*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box}
html{height:100%}
body{margin:0;height:100%;font:12px Helvetica,Arial,sans-serif}
a{color:#193056;text-decoration:none;}
a :hover{text-decoration:underline}
.pull-left{float:left}
.pull-right{float:right}
.hidden{display:none}
.jp{font-family:serif;font-size:90%}
.monospace{font-family:'Courier New',monospace}
.ads{margin:5px 0}
#sidebar{position:fixed;top:0;left:0;bottom:0;width:200px;overflow-y:auto;overflow-x:hidden;padding:10px;background:#e3e3e3;}
#sidebar *{padding:0;margin:0}
#sidebar h1{margin:10px 0;font-size:14px}
#sidebar h2{margin-top:10px;font-size:12px;color:#193056}
#sidebar img{width:180px;height:180px}
#sidebar ul{list-style:none;margin-left:20px;}
#sidebar ul li{padding:5px}
#content{font-family:'Courier New',monospace;font-size:16px;height:100%;margin-left:200px;padding:10px;}
#content h1{margin-left:10px}
#content #unit{padding:10px;}
#content #unit a{color:#00f;text-decoration:underline}
@media screen and (max-width: 650px){#sidebar{display:none}
#content{margin-left:0}
.ads{position:absolute;left:0}
}#content #unit ul{list-style:square}
#content #unit li{font-size:16px}
#content #f1{margin:15px;font-size:1.25em}
#content #f2{padding:0 15px}
#content #func{width:100%;font-family:'Courier New',monospace;font-size:1em}
#content #history{list-style:none;font-weight:bold}
