extend ../layout

block config
  - $.title = "synthdef2json"
  - $.path  = "/synthdef2json/"
  - $.ads   = true
  - $.add("//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js")

block content
  h1.title #{$.title}

  #app
    ol
      li drag a *.scsyndef file
      li see also:
        a(href="../synthdef2image/") synthdef2image
    #editor.
      {
        "version": "only 2",
        "defs": [
          {
            "name": "name of the definition",
            "consts": [ "constant value", "..." ],
            "params": {
              "names"  : [ "parameter name"   , "..." ],
              "indices": [ "index of values"  , "..." ],
              "values" : [ "initial parameter", "..." ]
            },
            "specs": [
              [ "name of the UGen",
                "rate (0=scalar, 1=control, 2=audio)",
                "special index",
                [ "index of UGen", "index of UGen output", "..." ],
                [ "rate", "..." ]
              ]
            ],
            "variants": {
              "name of the variant": [ "initial value", "..." ]
            }
          }
        ]
      }
