extend ../../lib/layout

block config
  - $.title = "canvas/gray"
  - $.path  = "/canvas/gray"
  - $.jslist  = ["index.js"]
  - $.csslist = ["index.css"]

block content
  h1 #{$.title}
  #unit
    canvas(id="canvas",width=512,height=512)
    video(id="cam",width=512,height=512,autoplay).hidden
    img(id="src",src="../sample01.jpg").hidden
    div
      include ../lib/ads.html
