extend ../lib/layout

block config
  - $.title = "movie to thumbnails"
  - $.path  = "/movie2thumb/"
  - $.jslist  = ["index.js"]
  - $.csslist = ["index.css"]
  - $.media = "desktop"

block content
  h1 #{$.title}
  #unit
    div(id="thumbs", style="border:solid 1px gray; width:100%; height:100%")
      div(style="padding:15px") drag a movie file(*.mp4) to get thumbnails
    span.pull-right
      div(style="font-size:smaller;font-weight:bold")
        input(type="checkbox", id="shuffle", name="shuffle")
        label(for="shuffle") Shuffle
