extend ../lib/layout

block config
  - $.title = "MiMi Grep"
  - $.path  = "/mimi"
  - $.jslist  = ["/lib/pico.js", "/lib/biquad.js", "index.js"]
  - $.csslist = ["index.css"]

block content
  canvas(id="preview")
  #container
    div(id="tips") drag a file to play
