extend ../lib/layout

block config
  - $.title = "mimi-grep"
  - $.path  = "/mimi/"
  - $.media = "desktop"
  - $.add("libs/pico.js")
  - $.add("libs/biquad.js")

block content
  canvas(id="preview")
  #unit
    div(id="tips") drag a file to play
