extend ../layout

block config
  - $.title = "mimi-grep"
  - $.path  = "/mimi/"
  - $.fullscreen = true
  - $.add("pico.js")
  - $.add("biquad.js")

block content
  canvas#preview
  #app
    div#tips drag a file to play
