extend ../layout

block config
  - $.title = "mimi-grep"
  - $.path  = "/mimi/"
  - $.fullscreen()
  - $.use("pico.js")
  - $.use("biquad.js")

block content
  canvas#preview
  #app
    div#tips drag a file to play
