extend ../layout

block config
  - $.title = "mimi-grep"
  - $.path  = "/mimi/"
  - $.add("pico.js")
  - $.add("biquad.js")

block content
  canvas(id="preview")
  #app
    div(id="tips") drag a file to play
