extend ../layout

block config
  - $.title = "console-sushi"
  - $.path  = "/console-sushi/"
  - $.ads   = true

block content
  h1 #{$.title}
  #app
    h2 1. Open the Console (use Google Chrome)
    h2 2. Order the Sushi
    div
      button(class="btn",data-num=00) まぐろ
      button(class="btn",data-num=72) いか
      button(class="btn",data-num=71) えび
      button(class="btn",data-num=60) はまち
      button(class="btn",data-num=70) サーモン
      button(class="btn",data-num=18) うなぎ
      button(class="btn",data-num=27) たまご
