extend ../layout

block config
  - $.title = "console-sushi"
  - $.path  = "/console-sushi/"
  - $.ads   = true

block content
  h1.title #{$.title}

  #app
    ol
      li Open the Console (use Google Chrome)
      li Order the Sushi
    div
      button.btn.btn-warning.btn-lg(data-num=00) まぐろ
      button.btn.btn-warning.btn-lg(data-num=72) いか
      button.btn.btn-warning.btn-lg(data-num=71) えび
      button.btn.btn-warning.btn-lg(data-num=60) はまち
      button.btn.btn-warning.btn-lg(data-num=70) サーモン
      button.btn.btn-warning.btn-lg(data-num=18) うなぎ
      button.btn.btn-warning.btn-lg(data-num=27) たまご
