extend ../../layout

block config
  - $.title = "face-detect"
  - $.path  = "/canvas/face/"
  - $.ads   = true
  - $.add("libs/ccv.js")
  - $.add("libs/face.js")

block content
  h1 #{$.title}
  #unit
    canvas(id="canvas",width=320,height=240)
    video(id="cam",width=640,height=480,autoplay).hidden
    h2 1. Accept to use your webcam (use WebRTC)
