extend ../layout

block config
  - $.title = "webcam-theremin"
  - $.path  = "/theremin/"
  - $.use("//mohayonao.github.io/neume.js/build/neume.min.js")
  - $.use("//mohayonao.github.io/neume.js/plugins/comb.js")
  - $.use("subcollider.js")

block content
  h1.title #{$.title}

  #app
    canvas(id="canvas",width=320,height=240)
    video(id="cam",width=640,height=480,autoplay).hidden
    h2 1. Accept to use your webcam (use WebRTC)
    h2 2. Right hand: control pitch
    h2 3. Left hand: switch on/off
