extend ./layout

block config
  - $.title  = "the.mohayonao.com"
  - $.path   = "/"
  - $.ads    = true
  - $.footer = true

block content
  h1.title #{$.title}

  #app
    img(src="/mohayonao.png")

    h3 weird javascript demo
    ul
      li
        a(href="./6chars/") 6chars drums
      li
        a(href="./console-sushi/") console-sushi
      //- li
      //-  a(href="./invention/") endless invention
      //- li
      //-   a(href="./scalable-mario/") scalable mario
      //- li
      //-   a(href="./glitchedmovie/") glitched movie
      //- li
      //-   a(href="./mimi/") mimi grep
      //- li
      //-   a(href="./mosaic/") mosaic.gif
      //- li
      //-   a(href="./1bit/") 1bit music
      //- li
      //-   a(href="./one-liner-music/") one liner music
      li
        a(href="./khoomii/") formant khoomii
      //- li
      //-   a(href="./ukulele/") ukulele
      li
        a(href="./zanzo/") zanzo
      li
        a(href="./fractal/circle") fractal/circle
    h3 Other Activities on the Web
    ul
      li
        span GitHub -
        nbsp: a(href="https://github.com/mohayonao/") mohayonao
      li
        span Twitter -
        nbsp: a(href="https://twitter.com/mohayonao") @mohayonao
      li
        span Blog -
        nbsp: a(href="http://mohayonao.hatenablog.com/") 音の鳴るブログ
    h3 Products
    ul
      li
        a(href="http://mohayonao.github.io/timbre.js/") timbre.js
        nbsp - JavaScript library for objective sound programming
      li
        a(href="http://mohayonao.github.io/CoffeeCollider/") CoffeeCollider
        nbsp - Sound Processing Language for Web Audio
      li
        a(href="http://mohayonao.github.io/SCScript") SCScript
        nbsp - JavaScript port of SuperCollider
      li
        a(href="https://github.com/mohayonao/sushi-repl") SUSHI-REPL
        nbsp - Yet Another JavaScript REPL
