extend ../../layout

block config
  - $.title = "web-audio-api/impulse"
  - $.path  = "/web-audio-api/impulse/"

block content
  h1.title #{$.title}

  #app
    pre.
      +------------------+
      | BufferSourceNode |
      | - buffer: [ 1 ]  |
      +------------------+
        |

    button#play.btn.btn-default Play
