extend ../layout

block config
  - $.title = "ciseaux"
  - $.path  = "/ciseaux/"
  - $.use("//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.css")
  - $.use("//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/theme/monokai.min.css")
  - $.use("//cdn.jsdelivr.net/es6-promise/1.0.0/promise.min.js")
  - $.use("//cdnjs.cloudflare.com/ajax/libs/vue/0.11.5/vue.min.js")
  - $.use("//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.js")
  - $.use("//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/mode/javascript/javascript.min.js")
  - $.use("//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/addon/edit/matchbrackets.min.js")
  - $.use("ciseaux.js")
  - $.use("ciseaux-player.js")
block content
  h1.title #{$.title}

  #app
    div
      canvas#canvas
    textarea#data tape = tape1.clone()
    div
      a(href="https://github.com/mohayonao/ciseaux/wiki/Editor's-CheatSheet" target="_blank") Ciseaux Editor's CheatSheet
    .form-group
      button.btn.btn-default(v-on="click: play") play
      button.btn.btn-default(v-on="click: save") save
      button.btn.btn-default(v-on="click: tweet") tweet
    table.table
      thead
        tr
          th #
          th name
          th sound
          th duration
      tbody
        tr(v-repeat="sound")
          td {{$index + 1}}
          td {{name}}
          td: audio(src='{{url}}' controls)
          td {{duration}}
