extend ../lib/layout

block config
  - $.title = "falling-sushi"
  - $.path  = "/falling-sushi/"
  - $.jslist  = ["index.js"]
  - $.csslist = ["index.css"]
  - $.desc = "sushi to fall to infinity"

block content
  canvas(id="canvas")
