@import "../lib/layout"

#content
  textarea
    width 100%
  #ctrl
    button
      font-family  sans-serif
      border-width 0
      color        white
      background   #27ae60
      width        90px
      height       30px
      margin       5px 5px 5px 0
      border-radius 4px
    :last-child
      margin-right 0
