extend ../lib/layout

block config
  - $.lang  = "ja";
  - $.title = "ドッ ドッ ドリドリ ドドドド ドリランド"
  - $.path  = "/d/"
  - $.jslist  = ["/lib/pico.js", "/lib/String_random.js", "index.js"]
  - $.csslist = ["index.css"]
  - $.ligature = true

block content
  h1 #{$.title}
  #unit
    textarea(rows=8,id="text") ドッ ドッ ドリドリ ドドドド ドリランド
    div(id="ctrl")
      button(id="play",class="lsf-icon",title="play") Loading...
      button(id="random",class="lsf-icon",title="random") Random
      button(id="tweet",class="lsf-icon",title="twitter") Tweet
    ul(id="list")
    ul
      li: a(href="https://gumroad.com/l/sEkz",target="gumroad") 課金して新しい機能を手にいれる($1)
      li: a(href="https://gumroad.com/l/zOW" ,target="gumroad") 課金して新しい機能を手にいれる($2)
      li: a(href="https://gumroad.com/l/pSMY",target="gumroad") 課金して新しい機能を手にいれる($5)
  div.ads
    include ../lib/ads.html
