@import "../lib/layout"

#content
  textarea
    width: 100%
  h1
    font-size: 32px
  #ctrl
    button
      width: 90px
      // height: 30px
      margin: 5px 5px 5px 0
    :last-child
      margin-right: 0
