extend ../layout

block config
  - $.lang  = "ja";
  - $.title = "ドッ ドッ ドリドリ ドドドド ドリランド"
  - $.path  = "/d/"
  - $.use("pico.js")
  - $.use("String_random.js")

block content
  h1.title #{$.title}

  #app
    textarea#text.form-control(rows=8) ドッ ドッ ドリドリ ドドドド ドリランド
    div#ctrl
      button.btn.btn-default#play   Loading...
      button.btn.btn-default#random Random
      button.btn.btn-default#tweet  Tweet
    ul#list
    ul
      li: a(href="https://gumroad.com/l/sEkz",target="gumroad") 課金して新しい機能を手にいれる($1)
      li: a(href="https://gumroad.com/l/zOW" ,target="gumroad") 課金して新しい機能を手にいれる($2)
      li: a(href="https://gumroad.com/l/pSMY",target="gumroad") 課金して新しい機能を手にいれる($5)
