extend ../lib/layout

block config
  - $.lang  = "ja";
  - $.title = "ドッ ドッ ドリドリ ドドドド ドリランド"
  - $.path  = "/d/"
  - $.add("libs/pico.js")
  - $.add("libs/String_random.js")

block content
  h1 #{$.title}
  #unit
    textarea(rows=8,id="text") ドッ ドッ ドリドリ ドドドド ドリランド
    div(id="ctrl")
      button(id="play",class="btn",title="play") Loading...
      button(id="random",class="btn",title="random") Random
      button(id="tweet",class="btn",title="twitter") Tweet
    ul(id="list")
    ul
      li: a(href="https://gumroad.com/l/sEkz",target="gumroad") 課金して新しい機能を手にいれる($1)
      li: a(href="https://gumroad.com/l/zOW" ,target="gumroad") 課金して新しい機能を手にいれる($2)
      li: a(href="https://gumroad.com/l/pSMY",target="gumroad") 課金して新しい機能を手にいれる($5)
  div.ads
    include ../lib/ads.html
