extend ../layout

block config
  - $.title = "synthdef2image"
  - $.path  = "/synthdef2image/"

block content
  h1.title #{$.title}

  #app
    ol
      li drag a *.scsyndef file
      li right-click and use "Save As"
      li see also:
        a(href="../synthdef2json/") synthdef2json
    img#result
