extend ../lib/layout

block config
  - var title = "perfume"
  - var path  = "/perfume"
  - var jslist  = ["index.js"]
  - var csslist = ["index.css"]

block content
  h1 #{title}
  #container
    ul(id="list")
      li
        a(href="./01/") 01: Basic Version
      li
        a(href="./02/") 02: With Audio API
      li
        a(href="./03/") 03: 100 nocchies
      li
        a(href="./04/") 04: Sound Glitch
