@import "../lib/layout"

#content
  background: #000

  h1
    color: #eaf4fc

  audio
    width: 100%

  #unit     
    a
      color: #eaf4fc
      text-decoration: underline

  #info
    font-size: 14px
    
    ul
      display: inline
    li
      display: inline
      margin-right: 10px
