extend ../layout

block config
  - $.add("../Three.js")
  - $.add("../Three.flashlike.js")
  - $.add("../bvh.js")
  - $.add("../motionman.js")

block content
  audio(id="audio",controls)
  #unit
  #info
    ul
      li: a(href="../") index
      li: a(href="../01/") 01
      li: a(href="../02/") 02
      li: a(href="../03/") 03
      li: a(href="../04/") 04
    a(href="http://perfume-global.com/") #prfm_global_site
