@import "../layout"

#content
  #ctrl
    margin-bottom: 20px

    select
      width: 200px

    #desc
      border: solid 1px #d4dcda
      margin: 5px
      padding: 5px
      width: 530px

  #download
    margin-top: 10px
    font-size: 14px
    a
      color: blue
      text-decoration: underline
