extend ../layout

block config
  - $.title = "enzui"
  - $.path  = "/enzui/"
  - $.add("pico.js")
  - $.add("enzui.js")

block content
  h1.title #{$.title}

  #app
    div#ctrl
      .form-group
        select#src(name="src")
          option(value="") Please select a program
          option(value="tarai") Tak Function
          option(value="markov") Markov Chain Composer
          option(value="fm") FM Synthesis
          option(value="dot") Dot Plot
          option(value="timer") Test Timer
          option(value="test01") test01
          option(value="test02") test02
          option(value="test03") test03
        button.btn.btn-default#load load
      .text-box#desc
        | かつて作っていた Max/MSP風のヴィジュアルプログラム言語です.<br>
        | [RUN]で実行できます.  <br>
        | 三角マークの数字はドラッグで値を変更, [●]はボタン, [×]はトグルスイッチです.<br>
        | ダブルクリックとかで編集もできる (細かいことは忘れた)
    #enzui
