extend ../layout

block config
  - $.title = "endless invention"
  - $.path  = "/invention/"
  - $.ads   = true
  - $.add("pico.js")
  - $.add("reverb.js")
  - $.add("svg-ui.js")

block content
  h1 #{$.title}
  #app
    canvas(id="canvas",width="150",height="200")
    h2 1. choose
    ul(id="mode").svg-radio
      li(value="normal",checked) Inventionen 13 a-moll
      li(value="markov") Markov Inventionen
    h2 2. click J.S.Bach to play/pause music
    h2.hidden-phone 3. mouseover Y : control EFX Depth
