extend ../layout

block config
  - $.title = "endless invention"
  - $.path  = "/invention/"
  - $.use("pico.js")
  - $.use("reverb.js")

block content
  h1.title #{$.title}

  #app
    canvas#canvas(width="150",height="200")
    ol
      li choose
      .radio
        label
          input(type="radio",name="mode",value="normal",checked)
          span Inventionen 13 a-moll
      .radio
        label
          input(type="radio",name="mode",value="markov")
          span Markov Inventionen
      li click J.S.Bach to play/pause music
      li mouseover Y : control EFX Depth
