extend ../lib/layout

block config
  - $.title = "endless invention"
  - $.path  = "/invention/"
  - $.jslist  = ["/lib/pico.js", "/lib/reverb.js", "index.js", "/lib/svg-ui.js"]
  - $.csslist = ["index.css"]

block content
  h1 #{$.title}
  #unit
    canvas(id="canvas",width="150",height="200")
    h2 1. choose
    ul(id="mode").svg-radio
      li(value="normal",checked) Inventionen 13 a-moll
      li(value="markov") Markov Inventionen
    h2 2. click J.S.Bach to play/pause music
    h2.hidden-phone 3. mouseover Y : control EFX Depth
  div.ads
    include ../lib/ads.html
x
