extend ../../layout

block config
  - $.title = "web-audio-api/oscillator-wave"
  - $.path  = "/web-audio-api/oscillator-wave/"

block content
  h1.title #{$.title}

  #app
    ul
      - for (var i = 0; i < 16; i++)
        li: canvas
