@import "../layout"

#p
  display: block
  width  : 100%
  font-size: 2em
#ctrl
  button
    width : 90px
    height: 30px
    margin: 5px 5px 5px 0
  :last-child
    margin-right 0
ul
  margin: 20px 0
li
  color: FORECOLOR
  margin: 10px 0
