extend ../layout

block config
  - $.title = "6chars drums"
  - $.path  = "/6chars/"
  - $.ads   = true
  - $.add("pico.js")
  - $.add("wav-decoder.js")
  - $.add("String_random.js")
  - $.add("HexRhythmMachine.js")

block content
  h1 #{$.title}
  #app
    input(id="p")
    div(id="ctrl")
      button(id="play",class="btn",title="play") Play
      button(id="random",class="btn",title="random") Random
      button(id="tweet",class="btn",title="twitter") Tweet
    ul(id="list")
