extend ../lib/layout

block config
  - $.title = "6chars drums"
  - $.path  = "/6chars/"
  - $.jslist  = ["/lib/pico.js", "/lib/wav-decoder.js", "HexRhythmMachine.js", "index.js"]
  - $.csslist = ["index.css"]

block content
  h1 #{$.title}
  #unit
    input(id="p",value="aa0980 aa08a2")
    button(id="play",class="lsf-icon",title="play") Play
