@import "../lib/layout"

#content
  #p
    display     block
    width       100%
    font-size   2em
    font-weight bold
  li
    margin: 10px 0

  input
    border-width 0
    background   #e5e4e6
  #ctrl
    button
      font-family  sans-serif
      border-width 0
      color        white
      background   #27ae60
      width        90px
      height       30px
      margin       5px 5px 5px 0
      border-radius 4px
    :last-child
      margin-right 0
