extend ../layout

block config
  - $.title = "6chars drums"
  - $.path  = "/6chars/"
  - $.use("pico.js")
  - $.use("wav-decoder.js")
  - $.use("String_random.js")
  - $.use("HexRhythmMachine.js")
  - $.use("//cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js")

block content
  h1.title #{$.title}

  #app
    input.form-control(v-model="value",class="{{ hasError ? 'error' : '' }}",spellcheck="false")
    .form-group
      button.btn.btn-default(v-on="click: play()")   {{ isPlaying ? 'Stop' : 'Play' }}
      button.btn.btn-default(v-on="click: random()") Random
      button.btn.btn-default(v-on="click: tweet()")  Tweet
    ul(v-repeat="list")
      li
        a(href="#{{encodeURI(value)}}",v-model="value") {{value}}
