extend ../lib/layout

block config
  - $.title = "6chars drums"
  - $.path  = "/6chars/"
  - $.jslist  = ["http://platform.twitter.com/widgets.js", "/lib/pico.js", "/lib/wav-decoder.js", "/lib/String_random.js", "HexRhythmMachine.js", "index.js"]
  - $.csslist = ["index.css"]
  - $.ligature = true

block content
  h1 #{$.title}
  #unit
    input(id="p",class="monospace")
    button(id="play",class="lsf-icon",title="play") Play
    button(id="random",class="lsf-icon",title="random") Random
    button(id="tweet",class="lsf-icon",title="twitter") Tweet
    div
      include ../lib/ads.html
    ul(id="list")
    div
      include ../lib/ads.html
