extend ../layout

block config
  - $.title = "6chars drums"
  - $.path  = "/6chars/"
  - $.add("http://platform.twitter.com/widgets.js")
  - $.add("libs/pico.js")
  - $.add("libs/wav-decoder.js")
  - $.add("libs/String_random.js")
  - $.add("HexRhythmMachine.js")

block content
  h1 #{$.title}
  #unit
    input(id="p")
    div(id="ctrl")
      button(id="play",class="btn",title="play") Play
      button(id="random",class="btn",title="random") Random
      button(id="tweet",class="btn",title="twitter") Tweet
    ul(id="list")
  div.ads
    include ../lib/ads.html
