extend ../lib/layout

block config
  - $.title = "formant khoomii"
  - $.path  = "/khoomii/"
  - $.jslist  = ["/lib/timbre.js", "index.js"]
  - $.csslist = ["index.css"]
  - $.ligature = true

block content
  h1 #{$.title}
  #unit
    div(style="margin-bottom:25px")
      button(id="play",class="lsf-icon",title="play") Play
    div.ads
      include ../lib/ads.html
