extend ../layout

block config
  - $.title = "formant khoomii"
  - $.path  = "/khoomii/"
  - $.ads   = true
  - $.add("timbre.js")

block content
  h1 #{$.title}
  #app
    div(style="margin-bottom:25px")
      button(id="play",class="btn") Play
