extend ../layout

block config
  - $.title = "formant khoomii"
  - $.path  = "/khoomii/"
  - $.ads   = true
  - $.add("libs/timbre.js")
  - $.add("/lib/LigatureSymbols-2.11.css")

block content
  h1 #{$.title}
  #unit
    div(style="margin-bottom:25px")
      button(id="play",class="btn",title="play") Play
