extend ../layout

block config
  - $.title = "formant khoomii"
  - $.path  = "/khoomii/"
  - $.ads   = true
  - $.add("timbre.js")

block content
  h1.title #{$.title}

  #app
    button#play.btn.btn-default Play
