@import "../../layout"

pre
  padding: 0

.CodeMirror
  font-size 14px
  font-family 'Courier new', monospace

.jp
  font-size 12px
  margin-left 8px

#canvas
  width  700px
  height 350px
  background #ecf0f1

#range
  width   28px
  height 364px
  -webkit-appearance slider-vertical
  appearance slider-vertical
  display inline

#duration
  width  700px
  height  28px

#editor
  width  728px

#ctrl
  margin: 15px 0

#reference
  width  728px
