@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box}
html{height:100%}
body{margin:0;height:100%;font:14px/1.231 "Lato",sans-serif;font-weight:300;color:#193056}
a{color:#2980b9;text-decoration:none;}
a :hover{text-decoration:underline}
.pull-left{float:left}
.pull-right{float:right}
.hidden{display:none}
.jp{font-family:serif;font-size:90%}
.monospace{font-family:'Courier New',monospace}
.ads{margin:5px 0}
#sidebar{position:fixed;top:0;left:0;bottom:0;width:200px;overflow-y:auto;overflow-x:hidden;padding:10px;background:#e3e3e3;}
#sidebar *{padding:0;margin:0}
#sidebar a{color:#193056}
#sidebar h1{margin:10px 0;font-size:14px;font-weight:400}
#sidebar h2{margin-top:10px;font-size:12px;font-weight:400}
#sidebar img{width:180px;height:180px}
#sidebar ul{list-style:none;margin-left:20px;}
#sidebar ul li{padding:5px}
#content{position:fixed;top:0;left:0;bottom:0;font-family:'Courier New',monospace;font-size:16px;height:100%;margin-left:200px;padding:10px;}
#content h1{margin-left:10px}
#content #unit{padding:10px}
@media screen and (max-width: 650px){#sidebar{display:none}
#content{margin-left:0}
.ads{position:absolute;left:0}
}#content{text-align:center;}
#content h1{display:inline-block;margin-right:25px}
#content #editor-container{width:100%}
#content #editor{width:400px;height:400px;border:solid 1px #999;margin:0 auto;display:block}
#content #dialog{width:400px;height:400px;border:solid 1px #999;margin:0 auto;display:block;font-size:48px;}
#content #dialog span{display:inline-block}
#content #dialog .caption{margin-top:20px}
#content #dialog .lsf-icon{color:#666;cursor:pointer;width:80px}
#content #dialog #frames,#content #dialog #speed{width:160px;border:solid 1px #ccc}
#content #result{width:400px;height:400px;border:solid 1px #999;margin:0 auto;display:block}
#content #msg{margin:5px}
#content .button{margin:5px;font-size:32px;display:inline-block;width:40px}
