extend ../lib/layout

block config
  - $.title = "gif.mosaic"
  - $.path  = "/mosaic/"
  - $.media = "desktop"
  - $.add("libs/GIFEncoder.js")
  - $.add("/lib/LigatureSymbols-2.11.css")

block content
  h1 #{$.title}
  #unit
    div(id="msg")
    div(id="editor-container")
      canvas(id="editor")
      div(id="dialog")
        div.caption frames
        div
          span(class="lsf-icon",title="minus",data-key="frames")
          span(id="frames") 6
          span(class="lsf-icon",title="plus",data-key="frames")
        div.caption speed
        div
          span(class="lsf-icon",title="minus",data-key="speed")
          span(id="speed") 100
          span(class="lsf-icon",title="plus",data-key="speed")
      img(id="result")
    div(id="controller")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
    div(style="margin-top:25px")
      a(id="download",class="lsf-icon",title="save",download="mosaic.gif").hidden Download
