extend ../lib/layout

block config
  - $.title = "gif.mosaic"
  - $.path  = "/mosaic/"
  - $.jslist  = ["/lib/GIFEncoder.js","index.js"]
  - $.csslist = ["index.css"]
  - $.media = "desktop"
  - $.desc = "create a mosaic GIF animation"

block content
  h1 #{$.title}
  
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://the.mohayonao.com/mosaic/" data-lang="ja">ツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
  #container
    div(id="msg")
    div(id="editor-container")
      canvas(id="editor")
      div(id="dialog")
        div.caption frames
        div
          span(class="lsf-icon",title="minus",data-key="frames")
          span(id="frames") 6
          span(class="lsf-icon",title="plus",data-key="frames")
        div.caption speed
        div
          span(class="lsf-icon",title="minus",data-key="speed")
          span(id="speed") 100
          span(class="lsf-icon",title="plus",data-key="speed")
      img(id="result")
    div(id="controller")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
      span(class="button lsf-icon")
    div(style="margin-top:25px")
      a(id="download",class="lsf-icon",title="save",download="mosaic.gif").hidden Download
