@import "../layout"

#content
  #editor-container
    width: 100%

  editor()
    width: 400px
    height: 400px
    border: solid 1px #999
    display: block

  #editor
    editor()

  #dialog
    editor()
    text-align: center
    font-size: 48px

    span
      display: inline-block

    .caption
      margin-top: 20px

    .lsf-icon
      color: #666
      cursor: pointer
      width: 80px

    #frames, #speed
      width: 160px
      border: solid 1px #ccc

  #result
    editor()

  #msg
    margin: 5px

  .button
    margin: 5px
    font-size: 32px
    display: inline-block
    width: 40px
