extend ../../lib/layout

block config
  - $.title = "draft/timbre"
  - $.path  = "/draft/timbre/"
  - $.jslist  = ["/lib/mocha.js", "/lib/chai.js", "/lib/mocha-chai.js", "/draft/timbre/timbre-core.js", "/lib/mocha-run.js", "index.js"]
  - $.csslist = ["/lib/mocha.css", "/draft/timbre/index.css"]

block content
  #mocha
