doctype 5
html(lang="ja")
  head
    meta(charset="utf-8")
    title how to write hyper ukulele notation
    link(rel="shortcut icon", href="favicon.ico")

  body
    h1 使い方
    h2 コード
    section
      p コードはコードネームで記述します。コードネームは大文字から始まります。
      p
        span たとえば <code>D7 G7 C</code> と書いた場合、
        img(src="./img/sample2.png")
        span となります。
      p 押さえるフレットを指定したい場合は @フレット番号 と書きます。
      p
        span <code>D7 D7@0202 C C@3345</code>と書いた場合、
        img(src="./img/sample3.png")
        span となります。
      p コードダイアグラムの大きさは 64px です。
    h2 繰り返し記号
    section
      p コード譜を繰り返して演奏することを示す記号です。
      table
        thead: tr
          th 記法
          th 図
          th 意味
          th 説明
          th 大きさ
        tbody
          tr
            td: span.s |:
            td: img(src="./img/repeat-paren1.png")
            td リピート記号(開始)
            td |: と :| で囲まれた範囲を2回繰り返します。<br/>リピート番号によって4回まで繰り返すことができます。
            td 16px
          tr
            td: span.s :|
            td: img(src="./img/repeat-paren2.png")
            td リピート記号(終了)
            td |: と :| で囲まれた範囲を2回繰り返します。<br/>リピート番号によって4回まで繰り返すことができます。<br/>開始記号がない場合は先頭から繰り返します。
            td 16px
          tr
            td: span.s 1
            td: img(src="./img/repeat-num1.png")
            td リピート番号 1
            td 繰り返しが 1回目 の時に演奏する部分です。
            td 6px
          tr
            td: span.s 2
            td: img(src="./img/repeat-num2.png")
            td リピート番号 2
            td 繰り返しが 2回目 の時に演奏する部分です。
            td 6px
          tr
            td: span.s 3
            td: img(src="./img/repeat-num3.png")
            td リピート番号 3
            td 繰り返しが 3回目 の時に演奏する部分です。
            td 6px
          tr
            td: span.s 4
            td: img(src="./img/repeat-num4.png")
            td リピート番号 4
            td 繰り返しが 4回目 の時に演奏する部分です。
            td 6px
          tr
            td: span.s -
            td: img(src="./img/repeat-line.png")
            td リピート番号用の線
            td リピート番号用の線
            td 10px
          tr
            td: span.s <
            td: img(src="./img/dacapo.png")
            td ダ・カーポ / ダル・セーニョ
            td 先頭に戻ります(ダ・カーポ)<br/>セーニョがある場合はダル・セーニョとなり、セーニョの位置に戻ります。
            td 16px
          tr
            td: span.s $
            td: img(src="./img/segno.png")
            td セーニョ
            td ダル・セーニョから戻ってくる位置を示します。
            td 16px
          tr
            td: span.s *
            td: img(src="./img/coda.png")
            td コーダ (ヴィーデ)
            td 次のコーダの位置までジャンプします。<br/>ダ・カーポやダル・セーニョによって繰り返されている場合に有効になります。
            td 16px
          tr
            td: span.s ^
            td: img(src="./img/finale.png")
            td フィナーレ
            td 演奏を終了する位置を示します。
            td 16px
      div
        h3 リピート番号を使った繰り返し時のパターン変更について
        p
          通常の楽譜の記法とは異なります。リピート番号は一対のリピート記号の中で使ってください。例えば繰り返し記号を使って <code>F G7 Am Em7 , F G7 Am E7 , A ...</code> と記述したい場合
          img(src="./img/repeat-sample.png")
          span と記述します。
    h2 ストローク記法
    section
      p ストロークの方法を示す記号です。<code>!</code> に続き、テンポ、シャッフルの有無、ストロークの方法を書きます。
      