extend ../layout

block config
  - $.title = "hyper ukulele notation"
  - $.path  = "/ukulele/"
  - $.ads   = true
  - $.add("//cdnjs.cloudflare.com/ajax/libs/codemirror/4.3.0/codemirror.min.js")
  - $.add("libs/timbre.js")
  - $.add("ukulele.js")
  - $.add("demo.js")
  - $.add("//cdnjs.cloudflare.com/ajax/libs/codemirror/4.3.0/codemirror.min.css")
  - $.add("ukulele.css")

block content
  h1 #{$.title}
  #unit
    div(id="ctrl")
      select(id="demo")
      button(id="play",class="btn",title="play") Play
      button(id="tweet",class="btn",title="twitter") Tweet
      button(class="btn",title="help")
        a(href="./usage.html",target="usage") Usage
    div
      textarea(id="data",rows=12)
    div
      img(id="result")
