extend ../lib/layout

block config
  - $.title = "hyper ukulele notation"
  - $.path  = "/ukulele/"
  - $.jslist  = ["/lib/codemirror.js","/lib/timbre.js","ukulele.js","demo.js","index.js"]
  - $.csslist = ["/lib/codemirror.css","ukulele.css","index.css"]
  - $.ligature = true

block content
  h1 #{$.title}
  #unit
    div
      select(id="demo")    
      button(id="play",class="lsf-icon",title="play") Play
      button(id="tweet",class="lsf-icon",title="twitter") Tweet this song
      button(class="lsf-icon",title="help")
        a(href="./usage.html",target="usage") How to write hyper ukulele notation
    div
      textarea(id="data",rows=12)
    div
      img(id="result")
