.cm-s-ukulele
  .cm-chord
    color: #192f60
    font-weight: bold
    
  .cm-stroke
    color: #316745
    
  .cm-newline
    color: #0d0015
    
  .cm-repeat
    color: #ee7800
    
  .cm-blacket
    color: #0d0015

  .cm-comment
    color: #494a41
    text-decoration: underline
    
  .cm-space
    color: #c0c6c9

.cm-s-ukulele
  font-family: 'Courier', monospace
  border: 1px solid grey
  color:  black
  margin-bottom: 25px
