.cm-s-ukulele
  .cm-chord
    color: #5A5CAD
    font-weight: bold
    
  .cm-stroke
    color: #3F7F7F
    
  .cm-newline
    color: black
    
  .cm-repeat
    color: #6C8CD5
    
  .cm-blacket
    color: #6C8CD5
    
  .cm-space
    color: grey

.cm-s-ukulele
  font-family: 'Courier', monospace
  border: 1px solid grey
  color:  black
  margin-bottom: 25px
