.cm-s-ukulele .cm-chord{color:#192f60;font-weight:bold}
.cm-s-ukulele .cm-stroke{color:#316745}
.cm-s-ukulele .cm-newline{color:#0d0015}
.cm-s-ukulele .cm-repeat{color:#ee7800}
.cm-s-ukulele .cm-blacket{color:#0d0015}
.cm-s-ukulele .cm-comment{color:#494a41;text-decoration:underline}
.cm-s-ukulele .cm-space{color:#c0c6c9}
.cm-s-ukulele{font-family:'Courier',monospace;border:1px solid #808080;color:#000;margin-bottom:25px}
