extend ../lib/layout

block config
  - $.title = "tarai-music"
  - $.path  = "/tarai/"
  - $.jslist  = ["/lib/timbre.js", "/lib/subcollider.js", "index.js"]
  - $.csslist = ["index.css"]
  - $.ligature = true

block content
  h1 #{$.title}
  #unit
    div(style="margin-bottom:25px")
      button(id="play",class="btn",title="play") Play
    p inspired by:
      ul
        li: a(href="http://d.hatena.ne.jp/aike/20120723").jp SuperColliderで竹内関数音楽 - aikeの日記
        li: a(href="http://en.wikipedia.org/wiki/Tak_(function)") Tak function
    p use:
      ul
        li: a(href="http://mohayonao.github.com/timbre.js") timbre.js
        li: a(href="http://mohayonao.github.com/sub.js") subcollider.js
    div.ads
      include ../lib/ads.html
