extend ../layout

block config
  - $.title = "scalable mario"
  - $.path  = "/scalable-mario/"
  - $.use("//cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js")
  - $.use("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  - $.use("timbre.js")
  - $.use("subcollider.js")
  - $.use("scales.js")
  - $.use("tunings.js")

block content
  h1.title #{$.title}

  #app
    .form-group
      button.btn.btn-default(v-on="click: play") {{ isPlaying ? 'Stop' : 'Play' }}
      button.btn.btn-default(v-on="click: tweet") Tweet
    .form-group
      label(for="scale") Scale
      ul.list-inline
        li(v-repeat="scales")
          span(v-on="click: scale=key", class="{{ scale == key ? 'selected' : '' }}") {{ name }}
      button.btn.btn-default(v-on="click: random('scale')")
        span(class="glyphicon glyphicon-random")
    .form-group
      label(for="tuning") Tuning
      ul.list-inline
        li(v-repeat="tunings")
          span(v-on="click: tuning=key", class="{{ tuning == key ? 'selected' : '' }}") {{ name }}
      button.btn.btn-default(v-on="click: random('tuning')")
        span(class="glyphicon glyphicon-random")
