extend ../lib/layout

block config
  - $.title = "scalable mario"
  - $.path  = "/scalable-mario/"
  - $.jslist  = ["/lib/timbre.js", "/lib/subcollider.js", "/lib/scales.js", "/lib/tunings.js", "index.js"]
  - $.csslist = ["index.css"]
  - $.ligature = true

block content
  h1 #{$.title}
  #unit
    div(style="margin-bottom:25px")
      button(id="play",class="lsf-icon",title="play") Play
      button(id="tweet",class="lsf-icon",title="twitter") Tweet this mario
    div
      label(for="scale") Scale
      select(name="scale",id="scale")
      button(id="random-scale",class="lsf-icon",title="random") random
    div
      label(for="tuning") Tuning
      select(name="tuning",id="tuning")
      button(id="random-tuning",class="lsf-icon",title="random") random
    p use: 
      ul
        li: a(href="http://mohayonao.github.com/timbre.js") timbre.js
        li: a(href="http://mohayonao.github.com/sub.js") subcollider.js
    div
      include ../lib/ads.html
