extend ../layout

block config
  - $.title = "scalable mario"
  - $.path  = "/scalable-mario/"
  - $.add("timbre.js")
  - $.add("subcollider.js")
  - $.add("scales.js")
  - $.add("tunings.js")

block content
  h1.title #{$.title}

  #app
    div(style="margin-bottom:25px")
      button.btn.btn-default#play Play
      button.btn.btn-default#tweet Tweet
    div
      label(for="scale") Scale
      select(name="scale",id="scale")
      button.btn.btn-default.btn-sm#random-scale random
    div
      label(for="tuning") Tuning
      select(name="tuning",id="tuning")
      button.btn.btn-default.btn-sm#random-tuning random
