extend ../layout

block config
  - $.title = "canvas"
  - $.path  = "/canvas/"
  - $.ads   = true

block content
  h1 #{$.title}
  #unit
    ul
      li: a(href="./binalize/") binalize
      li: a(href="./gray/") grayscale
      li: a(href="./mirror/") mirror
      li: a(href="./face/") face-detect
