extend ../layout

block config
  - $.title = "canvas"
  - $.path  = "/canvas/"

block content
  h1.title #{$.title}

  ul
    li: a(href="./binalize/") binalize
    li: a(href="./gray/") grayscale
    li: a(href="./mirror/") mirror
    li: a(href="./face/") face-detect
