@import "../layout"

#app
  canvas
    border: solid 1px #666
    width : 100%
    height:  60px
  #controller
    padding-top: 5px
    height: 30px
  #samplerate-container
    margin-left: 10px
    display: inline-block
  #mml-list
    @extend .pull-right
    padding-top: 5px
  #mml
    width : 100%
    height: 480px
    font-family: 'Courier New', monospace
    font-size: 14px
  a
    text-decoration: none
