@import "../layout"

#app
  width 728px

  canvas
    border solid 1px #efefef
    width  100%
    height  16px
    margin-bottom 10px

  textarea
    font-family 'Inconsolata', monospace

@media screen and (max-width: 640px)
  #app
    width 310px

    .btn-group button
      width 78px
