extend ../layout

block config
  - $.title = "1bit music"
  - $.path  = "/1bit/"
  - $.use("//cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js")
  - $.use("pico.js")

block content
  h1.title #{$.title}

  #app
    canvas#canvas
    .form-group
      button.btn.btn-default(v-on="click: play()") {{ isPlaying ? 'Stop' : 'Play' }}
    .form-group
      .btn-group
        button.btn.btn-default.btn-xs(v-on="click: select(1)") MML 1
        button.btn.btn-default.btn-xs(v-on="click: select(2)") MML 2
        button.btn.btn-default.btn-xs(v-on="click: select(3)") MML 3
        button.btn.btn-default.btn-xs(v-on="click: mml = '' ") Clear
    .form-group
      textarea.form-control(v-model="mml",rows=8,spellcheck="false")
